[Unit]
Description=Starts klipper on startup
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User={{ ansible_user }}
RemainAfterExit=yes
ExecStart={{ setup_klipper_venv_dir }}/bin/python {{ setup_klipper_dir }}/klippy/klippy.py {{ setup_home_dir }}/printer_config/printer.cfg -l /tmp/klippy.log -a /tmp/klippy_uds
