---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ext-postgres-operator
  namespace: database
spec:
  interval: 30m
  chart:
    spec:
      chart: ext-postgres-operator
      version: 2.3.0
      sourceRef:
        kind: HelmRepository
        name: postgres-operator
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    image:
      repository: ghcr.io/movetokube/postgres-operator
      tag: 2.3.0@sha256:6c2cd12010bf2d62c036df7ab802f2e8ccb07baead25528b5ce8cb8ac9250b76
    existingSecret: ext-postgres-operator
    resources:
      requests:
        cpu: 50m
        memory: 100Mi
      limits:
        memory: 400Mi
