---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
  namespace: longhorn-system
spec:
  interval: 30m
  chart:
    spec:
      chart: longhorn
      version: 1.11.0
      sourceRef:
        kind: HelmRepository
        name: longhorn
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    persistence:
      defaultClass: true
      defaultFsType: ext4
      defaultClassReplicaCount: 2
      defaultDataLocality: best-effort
      reclaimPolicy: Delete
    defaultSettings:
      backupTarget: "nfs://${NAS_ADDR}:/volume1/backups/longhorn"
      createDefaultDiskLabeledNodes: true
      defaultDataPath: /mnt/nvme/longhorn
      defaultDataLocality: best-effort
      storageOverProvisioningPercentage: "200"
      storageMinimalAvailablePercentage: "15"
      storageReservedPercentageForDefaultDisk: "15"
      defaultReplicaCount: '{"v1":"2","v2":"2"}'
      nodeDownPodDeletionPolicy: delete-both-statefulset-and-deployment-pod
      concurrentAutomaticEngineUpgradePerNodeLimit: "1"
      restoreVolumeRecurringJobs: false
      removeSnapshotsDuringFilesystemTrim: true
      v1DataEngine: true
      v2DataEngine: false
      orphanResourceAutoDeletion: replica-data
      orphanResourceAutoDeletionGracePeriod: "1800"
    # defaultBackupStore:
    #   pollInterval: 3600
    csi:
      attacherReplicaCount: 1
      provisionerReplicaCount: 1
      resizerReplicaCount: 1
      snapshotterReplicaCount: 1
    longhornUI:
      replicas: 1
    ingress:
      enabled: true
      ingressClassName: internal
      host: "longhorn.${SECRET_DOMAIN}"
      annotations:
        nginx.ingress.kubernetes.io/auth-method: GET
        nginx.ingress.kubernetes.io/auth-url: http://authelia.default.svc.cluster.local/api/verify
        nginx.ingress.kubernetes.io/auth-signin: https://auth.${SECRET_DOMAIN}?rm=$request_method
        nginx.ingress.kubernetes.io/auth-response-headers: Remote-User,Remote-Name,Remote-Groups,Remote-Email
        nginx.ingress.kubernetes.io/auth-snippet: proxy_set_header X-Forwarded-Method $request_method;
