---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: "${APP}-restic-check"
spec:
  schedule: "0 2 * * 3"
  timeZone: "Etc/UTC"
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        spec:
          initContainers:
            - name: jitter
              image: docker.io/library/busybox:latest@sha256:b3255e7dfbcd10cb367af0d409747d511aeb66dfac98cf30e97e87e4207dd76f
              imagePullPolicy: IfNotPresent
              command: ["sh", "-c", "sleep $(shuf -i 0-300 -n 1)"]
          containers:
            - name: restic
              image: restic/restic:0.18.1@sha256:39d9072fb5651c80d75c7a811612eb60b4c06b32ffe87c2e9f3c7222e1797e76
              command: ["restic", "check", "--read-data"]
              envFrom:
                - secretRef:
                    name: "${APP}-volsync-secret"
              volumeMounts:
                - name: repository
                  mountPath: /repository
          restartPolicy: OnFailure
          volumes:
            - name: repository
              nfs:
                server: nas.internal
                path: /volume1/backups/volsync
