---
machine:
  install:
    disk: /dev/disk/by-id/ata-KINGSTON_SA400S37480G_50026B7282F29913
    image: factory.talos.dev/installer/9ffda6da42b0e45bb9f486a3579c3c672c6971c1acaba0cc8ed8e9a0a5bb9e09:{{ versions.talos }}
  nodeLabels:
    node.longhorn.io/create-default-disk: true
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: k8s-2
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
  match: glob("d8:9e:f3:78:*", mac(link.permanent_addr))
---
apiVersion: v1alpha1
kind: VLANConfig
name: net0.4
vlanID: 4
parent: net0
mtu: 1500
addresses:
  - address: 192.168.4.13/24
routes:
  - gateway: 192.168.4.1
---
apiVersion: v1alpha1
kind: VLANConfig
name: net0.60
vlanID: 60
parent: net0
mtu: 1500
---
apiVersion: v1alpha1
kind: Layer2VIPConfig
name: {{ kubernetes.api.addr }}
link: net0.4
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-hostpath
volumeType: partition
provisioning:
  diskSelector:
    match: '"/dev/disk/by-id/nvme-WDS500G3X0C-00SJG0_21100G804539" in disk.symlinks'
  minSize: 100GiB
  maxSize: 100GiB
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: longhorn
volumeType: partition
provisioning:
  diskSelector:
    match: '"/dev/disk/by-id/nvme-WDS500G3X0C-00SJG0_21100G804539" in disk.symlinks'
  minSize: 100GiB
  grow: true
