---
machine:
  install:
    disk: /dev/disk/by-id/ata-SK_hynix_SC308_SATA_256GB_FJ6CN66471050CT50
    image: factory.talos.dev/installer/9ffda6da42b0e45bb9f486a3579c3c672c6971c1acaba0cc8ed8e9a0a5bb9e09:{{ versions.talos }}
  nodeLabels:
    node.longhorn.io/create-default-disk: true
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: k8s-1
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
  match: glob("00:e0:4c:68:*", mac(link.permanent_addr))
---
apiVersion: v1alpha1
kind: VLANConfig
name: net0.4
vlanID: 4
parent: net0
mtu: 1500
addresses:
  - address: 192.168.4.14/24
routes:
  - gateway: 192.168.4.1
---
apiVersion: v1alpha1
kind: VLANConfig
name: net0.60
vlanID: 60
parent: net0
mtu: 1500
---
apiVersion: v1alpha1
kind: Layer2VIPConfig
name: {{ kubernetes.api.addr }}
link: net0.4
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-hostpath
volumeType: partition
provisioning:
  diskSelector:
    match: '"/dev/disk/by-id/nvme-CT500P3SSD8_2328E6ED8EDC" in disk.symlinks'
  minSize: 100GiB
  maxSize: 100GiB
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: longhorn
volumeType: partition
provisioning:
  diskSelector:
    match: '"/dev/disk/by-id/nvme-CT500P3SSD8_2328E6ED8EDC" in disk.symlinks'
  minSize: 100GiB
  grow: true
