---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: open-webui
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: longhorn
      namespace: longhorn-system
    - name: volsync
      namespace: volsync-system
  values:
    controllers:
      open-webui:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/open-webui/open-webui
              tag: v0.6.36@sha256:dfe43b30a5474164b1a81e1cce298a6769bb22144f74df556beefee4ccca5394
            env:
              TZ: "${TIMEZONE}"
              ENABLE_OLLAMA_API: false
              ENABLE_RAG_WEB_SEARCH: true
              RAG_WEB_SEARCH_ENGINE: "duckduckgo"
              ENABLE_WEBSOCKET_SUPPORT: true
              WEBSOCKET_REDIS_URL: "redis://localhost:6379/0"
              REDIS_URL: "redis://localhost:6379/0"
              WEBUI_AUTH_TRUSTED_EMAIL_HEADER: "Remote-Email"
              WEBUI_AUTH_TRUSTED_NAME_HEADER: "Remote-Name"
            envFrom:
              - secretRef:
                  name: open-webui-secret
            # resources:
            #   requests:
            #     cpu: 50m
            #     memory: 300Mi
          redis:
            image:
              repository: docker.io/valkey/valkey
              tag: 8.1.3@sha256:facc1d2c3462975c34e10fccb167bfa92b0e0dbd992fc282c29a61c3243afb11
            ports:
              - containerPort: 6379
    service:
      app:
        controller: open-webui
        ports:
          http:
            port: 8080
    ingress:
      app:
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
          nginx.ingress.kubernetes.io/auth-method: GET
          nginx.ingress.kubernetes.io/auth-url: http://authelia.default.svc.cluster.local/api/verify
          nginx.ingress.kubernetes.io/auth-signin: https://auth.${SECRET_DOMAIN}?rm=$request_method
          nginx.ingress.kubernetes.io/auth-response-headers: Remote-User,Remote-Name,Remote-Groups,Remote-Email
          nginx.ingress.kubernetes.io/auth-snippet: proxy_set_header X-Forwarded-Method $request_method;
        hosts:
          - host: "chat.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
    persistence:
      data:
        existingClaim: "${PVC_NAME}"
        globalMounts:
          - path: /app/backend/data
    networkpolicies:
      main:
        controller: open-webui
        policyTypes:
          - Ingress
        rules:
          ingress:
            - from:
                - namespaceSelector: {}
                  podSelector:
                    matchLabels:
                      app.kubernetes.io/name: ingress-nginx
