---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: thanos-objstore
  namespace: monitoring
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler
  target:
    template:
      engineVersion: v2
      data:
        objstore.yml: |-
          type: s3
          config:
            bucket: {{ .S3_BUCKET }}
            endpoint: {{ .S3_ENDPOINT }}
            access_key: {{ .S3_ACCESS_KEY }}
            secret_key: {{ .S3_SECRET_KEY }}
            insecure: true
  dataFrom:
    - extract:
        key: THANOS

