---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: thanos
  namespace: monitoring
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: thanos
      version: 12.20.1
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  # dependsOn:
  #   - name: local-path-provisioner
  #     namespace: kube-system
  values:
    image:
      registry: quay.io
      repository: thanos/thanos
      tag: v0.33.0
    existingObjstoreSecret: thanos-objstore
    queryFrontend:
      enabled: true
      replicaCount: 1
      ingress:
        enabled: true
        ingressClassName: nginx
        hostname: "thanos-query-frontend.${SECRET_DOMAIN}"
        tls: true
        extraTls:
          - hosts:
              - "thanos-query-frontend.${SECRET_DOMAIN}"
    query:
      enabled: true
      extraFlags:
        - --query.auto-downsampling
      replicaCount: 1
      replicaLabel: ["__replica__"]
      dnsDiscovery:
        sidecarsService: kube-prometheus-stack-thanos-discovery
        sidecarsNamespace: monitoring
    bucketweb:
      enabled: true
      replicaCount: 1
    compactor:
      enabled: true
      extraFlags:
        - --compact.concurrency=2
        - --delete-delay=30m
      retentionResolutionRaw: 14d
      retentionResolution5m: 60d
      retentionResolution1h: 90d
      persistence:
        enabled: true
        storageClass: local-path
        size: 10Gi
    storegateway:
      enabled: true
      replicaCount: 1
      persistence:
        enabled: true
        storageClass: local-path
        size: 10Gi
    ruler:
      enabled: true
      replicaCount: 1
      replicaLabel: __replica__
      alertmanagers: ["http://alertmanager-operated.monitoring.svc.cluster.local:9093"]
      extraFlags: ["--web.prefix-header=X-Forwarded-Prefix"]
      config: |-
        groups:
          - name: PrometheusWatcher
            rules:
              - alert: PrometheusDown
                annotations:
                  summary: A Prometheus has disappeared from Prometheus target discovery
                expr: absent(up{job="kube-prometheus-stack-prometheus"})
                for: 5m
                labels:
                  severity: critical
      persistence:
        enabled: true
        storageClass: local-path
        size: 10Gi
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
