---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: envoy-gateway-crds
spec:
  interval: 30m
  chart:
    spec:
      chart: gateway-crds-helm
      version: 1.6.0
      sourceRef:
        kind: HelmRepository
        name: envoy-gateway-crds
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
