---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: longhorn
      namespace: longhorn-system
  values:
    defaultPodOptions:
      nodeSelector:
        feature.node.kubernetes.io/custom-sonoff-zigbee: "true"
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      # TODO: Run as 1000:1000
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      home-assistant:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-assistant/home-assistant
              tag: 2025.10.1@sha256:9255033272ab8f7bede246109ea9e7302527faf3accbf2ba7ef619e2206107ad
            env:
              TZ: "${TIMEZONE}"
            # probes:
            #   liveness:
            #     enabled: false
            #   readiness:
            #     enabled: false
            #   startup:
            #     enabled: false
            resources:
              requests:
                memory: 750Mi
                cpu: 200m
              limits:
                memory: 2500Mi
          appdaemon:
            image:
              repository: docker.io/acockburn/appdaemon
              tag: 4.4.2@sha256:9619fc18bc53082ae2dc680e80f1bcb634c793a74b2114779df1b381ffa0736c
            env:
              TZ: "${TIMEZONE}"
          code-server:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.102.2@sha256:8c2aaafb74a2978f48d193135eb3ea6fc0e24563dd59c028b9f1808cefd0fa33
            env:
              TZ: "${TIMEZONE}"
            args:
              - --auth
              - "none"
              - --user-data-dir
              - "/config/.vscode"
              - --extensions-dir
              - "/config/.vscode"
              - "--port"
              - "12321"
              - /config
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 1Gi
    service:
      app:
        controller: home-assistant
        type: LoadBalancer
        externalTrafficPolicy: Cluster
        annotations:
          lbipam.cilium.io/ips: "${VIP_HOME_ASSISTANT}"
        ports:
          mdns:
            port: 5353
            protocol: UDP
          coiot:
            port: 5683
            protocol: UDP
          http:
            port: 8123
          homekit:
            port: 21063
          code-server:
            port: 12321
    ingress:
      app:
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
        hosts:
          - host: "ha.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
      code-server:
        className: internal
        annotations:
          nginx.ingress.kubernetes.io/auth-method: GET
          nginx.ingress.kubernetes.io/auth-url: http://authelia.default.svc.cluster.local/api/verify
          nginx.ingress.kubernetes.io/auth-signin: https://auth.${SECRET_DOMAIN}?rm=$request_method
          nginx.ingress.kubernetes.io/auth-response-headers: Remote-User,Remote-Name,Remote-Groups,Remote-Email
          nginx.ingress.kubernetes.io/auth-snippet: proxy_set_header X-Forwarded-Method $request_method;
        hosts:
          - host: "ha-config.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: code-server
    persistence:
      config:
        existingClaim: "${PVC_NAME}"
        advancedMounts:
          home-assistant:
            app:
              - path: /config
            appdaemon:
              - path: /conf
                subPath: appdaemon
            code-server:
              - path: /config
      dbus:
        type: hostPath
        hostPath: /run/dbus
        advancedMounts:
          home-assistant:
            app:
              - path: /run/dbus
      # Workaround for https://github.com/home-assistant/core/issues/133537
      temp:
        type: emptyDir
        advancedMounts:
          home-assistant:
            app:
              - path: /.dockerenv
                subPath: .dockerenv
