---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tailscale
  namespace: networking
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/tailscale/tailscale
              tag: v1.66.4
            env:
              TS_KUBE_SECRET: tailscale-state-1
              TS_USERSPACE: &TS_USERSPACE "true"
              # TS_ROUTES: "${CLUSTER_CIDR},${SERVICE_CIDR}"
              TS_ROUTES: &TS_ROUTES "10.43.100.100/32" # external proxy ingress service
              TS_EXTRA_ARGS: &TS_EXTRA_ARGS --advertise-tags=tag:k8s-operator
              # TS_HOSTNAME: k8s-gateway-tailscale
              TS_AUTHKEY:
                valueFrom:
                  secretKeyRef:
                    name: tailscale-auth-1
                    key: TS_AUTHKEY
      # second pod for failover
      # https://tailscale.com/kb/1115/high-availability#failover
      secondary:
        enabled: true
        containers:
          main:
            image:
              repository: ghcr.io/tailscale/tailscale
              tag: v1.66.4
            env:
              TS_KUBE_SECRET: tailscale-state-2
              TS_USERSPACE: *TS_USERSPACE
              TS_ROUTES: *TS_ROUTES
              TS_EXTRA_ARGS: *TS_EXTRA_ARGS
              TS_AUTHKEY:
                valueFrom:
                  secretKeyRef:
                    name: tailscale-auth-2
                    key: TS_AUTHKEY
    defaultPodOptions:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: *app
    service:
      main:
        enabled: false
    serviceAccount:
      name: tailscale
