---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: envoy-gateway
spec:
  interval: 30m
  chart:
    spec:
      chart: gateway-helm
      version: 1.6.0
      sourceRef:
        kind: HelmRepository
        name: envoy-gateway
        namespace: flux-system
  install:
    crds: Skip
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: Skip
    remediation:
      retries: 3
  dependsOn:
    - name: envoy-gateway-crds
      namespace: networking
  values:
    observability:
      metrics:
        serviceMonitor:
          enabled: true
